In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import statsmodels.api as sm

energy=pd.read_csv(r'C:\Users\Lisa\Downloads\energydata.csv')

In [3]:
energy.head(10)

,ID,Country,Energy_type,Year,Energy_consumption,Energy_production,GDP,Population,Energy_intensity_per_capita,Energy_intensity_by_GDP,CO2_emission
0,0,World,all_energy_types,1980,292.899790,296.337228,27770.91028,4298126.522,68.145921,10.547,4946.627130
1,1,World,coal,1980,78.656134,80.114194,27770.91028,4298126.522,68.145921,10.547,1409.790188
2,2,World,natural_gas,1980,53.865223,54.761046,27770.91028,4298126.522,68.145921,10.547,1081.593377
3,3,World,petroleum_n_other_liquids,1980,132.064019,133.111109,27770.91028,4298126.522,68.145921,10.547,2455.243565
4,4,World,nuclear,1980,7.575700,7.575700,27770.91028,4298126.522,68.145921,10.547,0.000000
5,5,World,renewables_n_other,1980,20.702344,20.775178,27770.91028,4298126.522,68.145921,10.547,0.000000
6,6,Afghanistan,all_energy_types,1980,0.026583,0.072561,NaN,13356.500,1.990283,0.000,NaN
7,7,Afghanistan,coal,1980,0.002479,0.002355,NaN,13356.500,1.990283,0.000,NaN
8,8,Afghanistan,natural_gas,1980,0.002094,0.062820,NaN,13356.500,1.990283,0.000,NaN
9,9,Afghanistan,petroleum_n_other_liquids,1980,0.014624,0.000000,NaN,13356.500,1.990283,0.000,NaN

In [4]:
#remove World from Country column
energy2=energy.loc[energy['Country']!='World']

In [5]:
#pivot energy types rows for energy production column to columns
energy_production=pd.pivot_table(energy2,values='Energy_production',index=['Country','Year'],columns='Energy_type')

In [6]:
#rename pivoted columns
energy_production_renamed=energy_production.rename(columns={'all_energy_types':'Production_all_energy_types','coal':'Production_coal','natural_gas':'Production_nat_gas','nuclear':'Production_nuclear','petroleum_n_other_liquids':'Production_petroleum','renewables_n_other':'Production_renewables'})

In [7]:
#pivot energy types rows from energy consumption column to columns
energy_consumption=pd.pivot_table(energy2,values='Energy_consumption',index=['Country','Year'],columns='Energy_type')

In [8]:
#rename pivoted columns
energy_consumption_renamed=energy_consumption.rename(columns={'all_energy_types':'Consumption_all_energy_types','coal':'Consumption_coal','natural_gas':'Consumption_nat_gas','nuclear':'Consumption_nuclear','petroleum_n_other_liquids':'Consumption_petroleum','renewables_n_other':'Consumption_renewables'})

In [9]:
#subset columns from original df
energy_othercols=energy2[['Country','Year','GDP','Population','Energy_intensity_per_capita','Energy_intensity_by_GDP','CO2_emission']]

In [10]:
#join pivoted energy production df with other columns from original df
merged_energy=pd.merge(energy_production_renamed, energy_othercols, how='left', left_on=['Country','Year'],right_on=['Country','Year'])

In [12]:
#join pivoted energy consumption df with merged df
merged_energy_2=pd.merge(merged_energy,energy_consumption_renamed, on=['Country','Year'],how='inner')
cleanedup_energy=merged_energy_2.drop_duplicates()
cleanedup_energy.shape
cleanedup_energy.head(20)

,Country,Year,Production_all_energy_types,Production_coal,Production_nat_gas,Production_nuclear,Production_petroleum,Production_renewables,GDP,Population,Energy_intensity_per_capita,Energy_intensity_by_GDP,CO2_emission,Consumption_all_energy_types,Consumption_coal,Consumption_nat_gas,Consumption_nuclear,Consumption_petroleum,Consumption_renewables
0,Afghanistan,1980,0.072561,0.002355,0.062820,NaN,0.0,0.007386,NaN,13356.5,1.990283,0.0,NaN,0.026583,0.002479,0.002094,NaN,0.014624,0.007386
4,Afghanistan,1980,0.072561,0.002355,0.062820,NaN,0.0,0.007386,NaN,13356.5,1.990283,0.0,0.000000,0.026583,0.002479,0.002094,NaN,0.014624,0.007386
6,Afghanistan,1981,0.092724,0.002474,0.082713,NaN,0.0,0.007537,NaN,13171.7,2.273773,0.0,1.325965,0.029949,0.002604,0.003141,NaN,0.016668,0.007537
7,Afghanistan,1981,0.092724,0.002474,0.082713,NaN,0.0,0.007537,NaN,13171.7,2.273773,0.0,0.231314,0.029949,0.002604,0.003141,NaN,0.016668,0.007537
8,Afghanistan,1981,0.092724,0.002474,0.082713,NaN,0.0,0.007537,NaN,13171.7,2.273773,0.0,0.111101,0.029949,0.002604,0.003141,NaN,0.016668,0.007537
9,Afghanistan,1981,0.092724,0.002474,0.082713,NaN,0.0,0.007537,NaN,13171.7,2.273773,0.0,0.983550,0.029949,0.002604,0.003141,NaN,0.016668,0.007537
10,Afghanistan,1981,0.092724,0.002474,0.082713,NaN,0.0,0.007537,NaN,13171.7,2.273773,0.0,0.000000,0.029949,0.002604,0.003141,NaN,0.016668,0.007537
12,Afghanistan,1982,0.095068,0.002870,0.084807,NaN,0.0,0.007391,NaN,12882.5,2.476058,0.0,1.509628,0.031898,0.003021,0.005235,NaN,0.016251,0.007391
13,Afghanistan,1982,0.095068,0.002870,0.084807,NaN,0.0,0.007391,NaN,12882.5,2.476058,0.0,0.242977,0.031898,0.003021,0.005235,NaN,0.016251,0.007391
14,Afghanistan,1982,0.095068,0.002870,0.084807,NaN,0.0,0.007391,NaN,12882.5,2.476058,0.0,0.166651,0.031898,0.003021,0.005235,NaN,0.016251,0.007391
15,Afghanistan,1982,0.095068,0.002870,0.084807,NaN,0.0,0.007391,NaN,12882.5,2.476058,0.0,1.100000,0.031898,0.003021,0.005235,NaN,0.016251,0.007391
16,Afghanistan,1982,0.095068,0.002870,0.084807,NaN,0.0,0.007391,NaN,12882.5,2.476058,0.0,0.000000,0.031898,0.003021,0.005235,NaN,0.016251,0.007391
18,Afghanistan,1983,0.099713,0.002870,0.088995,NaN,0.0,0.007848,NaN,12537.7,3.112357,0.0,1.659605,0.039022,0.003021,0.005235,NaN,0.022918,0.007848
19,Afghanistan,1983,0.099713,0.002870,0.088995,NaN,0.0,0.007848,NaN,12537.7,3.112357,0.0,0.281853,0.039022,0.003021,0.005235,NaN,0.022918,0.007848
20,Afghanistan,1983,0.099713,0.002870,0.088995,NaN,0.0,0.007848,NaN,12537.7,3.112357,0.0,0.277752,0.039022,0.003021,0.005235,NaN,0.022918,0.007848
21,Afghanistan,1983,0.099713,0.002870,0.088995,NaN,0.0,0.007848,NaN,12537.7,3.112357,0.0,1.100000,0.039022,0.003021,0.005235,NaN,0.022918,0.007848
22,Afghanistan,1983,0.099713,0.002870,0.088995,NaN,0.0,0.007848,NaN,12537.7,3.112357,0.0,0.000000,0.039022,0.003021,0.005235,NaN,0.022918,0.007848
24,Afghanistan,1984,0.099827,0.002929,0.088995,NaN,0.0,0.007903,NaN,12204.3,3.212166,0.0,2.059605,0.039202,0.003083,0.005235,NaN,0.022981,0.007903
25,Afghanistan,1984,0.099827,0.002929,0.088995,NaN,0.0,0.007903,NaN,12204.3,3.212166,0.0,0.281853,0.039202,0.003083,0.005235,NaN,0.022981,0.007903
26,Afghanistan,1984,0.099827,0.002929,0.088995,NaN,0.0,0.007903,NaN,12204.3,3.212166,0.0,0.277752,0.039202,0.003083,0.005235,NaN,0.022981,0.007903

In [ ]:
print(list(merged_energy_2.columns))

In [ ]:
#group by country and year and aggregate by mean of all other columns
energy_grouped = merged_energy_2.groupby(['Country','Year']).aggregate({'Production_all_energy_types':'mean','Production_coal':'mean','Production_nat_gas':'mean', 'Production_nuclear':'mean', 'Production_petroleum':'mean', 'Production_renewables':'mean', 'GDP':'mean', 'Population':'mean', 'Energy_intensity_per_capita':'mean', 'Energy_intensity_by_GDP':'mean', 'CO2_emission':'mean', 'Consumption_all_energy_types':'mean', 'Consumption_coal':'mean', 'Consumption_nat_gas':'mean', 'Consumption_nuclear':'mean', 'Consumption_petroleum':'mean', 'Consumption_renewables':'mean'}).reset_index()
energy_grouped.shape

In [ ]:
energy_counted = cleanedup_energy.groupby(['Country','Year'])['Production_all_energy_types'].count()
energy_counted_df=energy_counted.to_frame()
energy_counted_df_sorted=energy_counted_df.sort_values('Production_all_energy_types',ascending=False)
energy_counted_df['Production_all_energy_types'].value_counts()

In [ ]:
#correlations among all columns/variables
correlation=energy_grouped.corr()
print(correlation)

In [ ]:
#correlations with renewable energy production
correlation_prod_renewables=correlation[['Production_renewables']].sort_values(by='Production_renewables',ascending=False)
print(correlation_prod_renewables)

In [ ]:
final_energy=energy_grouped.dropna(subset=['Consumption_all_energy_types','GDP','CO2_emission'])
final_energy.head(20)
#Is it ok that there are multiple and different values for the same country/Year combination?

In [ ]:
independent_variables=final_energy[['Consumption_all_energy_types','GDP','CO2_emission']]
dependent_variable=final_energy['Production_renewables']
dependent_variable=dependent_variable.to_frame()
independent_variables=sm.add_constant(independent_variables)
regression_model_science=sm.OLS(dependent_variable,independent_variables).fit()
print(regression_model_science.summary())